* * * * * cd /usr/src/app && /usr/local/bin/bun run src/scripts/innings-live.ts >> /var/log/innings-live.log 2>&1
0 * * * * cd /usr/src/app && /usr/local/bin/bun run src/scripts/innings.ts >> /var/log/innings.log 2>&1
0 2 * * * cd /usr/src/app && /usr/local/bin/bun run src/scripts/matches.ts >> /var/log/matches.log 2>&1
0 3 * * * cd /usr/src/app && /usr/local/bin/points.ts >> /var/log/points.log 2>&1